<p>
  <%= f.text_field :extensions_allowed, :size => 50, :label => :setting_attachment_extensions_allowed %>
  <em class="info"><%= l(:text_comma_separated) %> <%= l(:label_example) %>: txt, png</em>
</p>
