<%= javascript_include_tag 'raphael.js' %>
<%= javascript_include_tag 'revision_graph.js' %>

<script type="text/javascript" charset="utf-8">

  ['load', 'resize'].each(function(window_event) {

    Event.observe(window, window_event, function(){

        drawRevisionGraph(
            document.getElementById('holder'),
            <%= commits.to_json.html_safe %>,
            <%= space %>);
        });
  });
</script>

<div id="holder" class="revision-graph"></div>
