<h2><%= l(:label_statistics) %></h2>

<p>
<%= tag("embed",
        :type => "image/svg+xml", :src => url_for(:controller => 'repositories',
        :action => 'graph', :id => @project,
        :repository_id => @repository.identifier_param,
        :graph => "commits_per_month")) %>
</p>
<p>
<%= tag("embed",
        :type => "image/svg+xml", :src => url_for(:controller => 'repositories',
        :action => 'graph', :id => @project,
        :repository_id => @repository.identifier_param,
        :graph => "commits_per_author")) %>
</p>

<p><%= link_to l(:button_back), :action => 'show', :id => @project %></p>

<% html_title(l(:label_repository), l(:label_statistics)) -%>
