<%= title [l('label_oauth_authorized_application_plural'), oauth_authorized_applications_path]  %>

<fieldset class="tabular"><legend><%= l(:label_information_plural) %></legend>
  <p>
    <label><%= t('.title') %>:</label>
    <code><%= params[:code] %></code>
  </p>
</fieldset>
