<% if @issue.safe_attribute? 'watcher_user_ids' -%>
  <%= hidden_field_tag 'issue[watcher_user_ids][]', '' %>
  <p id="watchers_form"><label><%= l(:label_issue_watchers) %></label>
  <span id="watchers_inputs">
    <%= watchers_checkboxes(@issue, users_for_new_issue_watchers(@issue)) %>
  </span>
  <span class="search_for_watchers">
  <%= link_to sprite_icon('add', l(:label_search_for_watchers), size: 12),
              {:controller => 'watchers', :action => 'new', :project_id => @issue.project},
              :class => 'icon icon-add-bullet',
              :remote => true,
              :method => 'get' %>
  </span>
  </p>
<% end %>
