<h2>Research Themes</h2>

<p>Themes summarise projects present in the OSB related to specific areas of neuronal modelling, e.g. a particular brain region or a disease state.</p>
<p>Offers of help to curate these are very welcome, as are suggestions for Themes to add. 
Please <a href="mailto:info@opensourcebrain.org">get in contact</a>.</p>

<p>&nbsp;</p>

<%= render_theme_hierarchy(@projects)%>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title('Research Themes') -%>
