<h3><%= l(:label_calendar) %></h3>

<% calendar = Redmine::Helpers::Calendar.new(Date.today, current_language, :week)
   calendar.events = calendar_items(calendar.startdt, calendar.enddt) %>

<%= render :partial => 'common/calendar', :locals => {:calendar => calendar } %>
