<h3>
  <%= link_to l(:label_watched_issues),
        issues_path(:set_filter => 1, :watcher_id => 'me', :sort => 'updated_on:desc') %>
  (<%= Issue.visible.watched_by(user.id).count %>)
</h3>

<% watched_issues = issueswatched_items %>
<%= render :partial => 'issues/list_simple', :locals => { :issues => watched_issues } %>
