<% reported_issues = issuesreportedbyme_items %>
<h3>
  <%= link_to l(:label_reported_issues),
        issues_path(:set_filter => 1, :status_id => '*', :author_id => 'me', :sort => 'updated_on:desc') %>
  (<%= reported_issues.limit(nil).count %>)
</h3>

<%= render :partial => 'issues/list_simple', :locals => { :issues => reported_issues.to_a } %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom,
                            {:controller => 'issues', :action => 'index', :set_filter => 1,
                             :author_id => 'me', :format => 'atom', :key => User.current.rss_key},
                            {:title => l(:label_reported_issues)}) %>
<% end %>
