<div class="contextual">
<%= link_to sprite_icon('copy', l(:button_copy)), { :action => 'copy'}, :class => 'icon icon-copy' %>
<%= link_to sprite_icon('summary', l(:field_summary)), { :action => 'index'}, :class => 'icon icon-summary' %>
</div>
