<%= error_messages_for @group %>

<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">
            <%= l(:field_name) %>:
        </label>
        <%= f.text_field :name, :no_label => true, :required => true, :class => 'form-control col-sm-2', :size => 60 %>
    </div>
  <% @group.custom_field_values.each do |value| %>
    <div class="form-group"><%= custom_field_tag_with_label :group, value %></div>
  <% end %>
</fieldset>
