@import url(../../../stylesheets/application.css);

/* A1 theme version 1.0.3 by Kirill Bezrukov www.redminecrm.com */

#header {
	height: auto;
}

#header > h1 {
	padding: 5px 65px;
	color: white;
	text-shadow: 0 -2px rgba(0, 0, 0, 0.2);
	font-size: 22px;
}

ul.projects div.root a.project { font-family: 'trajan_proregular', serif; font-size: 16px; color:#37abc8; margin-bottom:10px;}
ul.projects div.root a.project:hover {color:#43ccee; }
h1, h2, h3, h4 {
	font-family: 'trajan_proregular', serif; 
}

body, #wrapper { 
	font-family: 'trajan_proregular', serif; 
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}

#main { background: transparent;}
#top-menu { font-size: 15px; font-weight: normal; padding: 7px 10px 2px 20px;}
#top-menu a {font-weight: normal; }

#top-menu a:hover {color: #ff6600; text-decoration: none;}
div.flash {
	border: 0px solid;
	border: 1px solid;
	text-shadow: 0 1px white;
}

div#content > div.flash:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

div#content > div.flash {
	border: 0px solid;
	padding: 9px 35px 10px;
	margin: -5px -10px 1px -10px;
	background-position-x: 12px !important;
	background-position-y: 9px !important;
	position: relative;
	border-bottom: 1px solid #AECCD7;
}

#errorExplanation, .nodata, .warning {
	border: 1px solid silver;
	text-shadow: 0 1px white;
}

div.filters h2 .scope_title a {
	color: #444;
}


#sidebar {
	width: 260px !important;
	padding: 0px 10px 20px 15px !important;
	background: whiteSmoke;
	border: 1px solid #D9D9D9;
	zoom: 1;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

div#content > h2, 
div#content h2.contacts_header, 
div#content > div.filters h2, 
div#content > #add-news > h2, 
div#content > #add-message > h2 , 
div#content > #add-document > h2 {
	border:0;
	color: #2d2100;
	text-align:center;
}

.controller-boards.action-index #add-message {
	position: static;
}

.controller-boards.action-index #add-message #message-form > p {
	position: relative;
	padding: 10px;
	background-color: white;
	margin: -10px;
	border-bottom: 1px solid #AECCD7;
}

/*.controller-documents.action-index div#content  h2, */
.controller-timelog.action-index div#content  h2,
.controller-time_entry_reports.action-report div#content  h2, 
.controller-boards.action-show div#content  h2, 
.controller-messages.action-show div#content  h2,
.controller-boards.action-show div#content div#add-message h2 {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top: 1px solid #AECCD7;
	padding: 9px 20px 12px;
	margin: -2px -10px 10px;
}

.controller-timelog.action-index div#content .contextual,
.controller-time_entry_reports.action-report div#content .contextual { 
	margin-top: 50px;
}

#add-news, #add-message, #add-document {
	margin-bottom: 20px;
}

div#content h2.contacts_header {
	padding-bottom: 10px;
/*	white-space: nowrap;*/
}

p.breadcrumb {
	margin: 4px 0 15px 0;
}

div#content > div.contextual {
	margin-top: 16px;
	margin-right: 10px;
}

#roadmap {margin: 10px;}

p.subtitle {
	margin-top:35px;
}

.contextual a, .contextual a:link, .contextual a:visited {color: #888;}

.contextual a:hover, .contextual a:visited:hover {color: #333;}

div.filters h2 .scope_title a { color: #222; text-decoration: none; } 

h2, .wiki h1 { color: #37abc8; font-size: 26px;}
h3, .wiki h2 { color: #222; }


div#content > div.wiki {
	padding: 10px;
	padding-top: 20px;
}

#main-menu {
	left: 0px;
	width: 100%;
	height: 40px;
	margin-bottom:10px;
	font-family: 'trajan_proregular', serif;
}

#main-menu li a {
	display: block;
	float: left;
	padding: 6px 12px;
	color: #444;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.10);
	padding: 5px 12px;
	text-shadow: 0px -1px #666;
	color: #F0F0F0;
	border: 1px solid #666;
	border-right: none;
	border-bottom: none;
	background-color: #483500;
}


#main-menu li a:hover {background-color:transparent;color: #000;text-decoration: initial;}

#header {
	padding-left: 10px;
	background-position-y: 11%;
}

div#welcome-store-content h1, 
div#welcome-store-content h2, 
div#welcome-store-content h3, 
div#welcome-store-content h4 {
	color: #222;
}

#content, #main.nosidebar #content { 
	border: 0px solid silver;
}


a, a:link, a:visited {
	color: #8A0;
}

a:hover{color:#9FC701; text-decoration: none;}

div.issue {
	background: #FFD;
	padding: 20px;
	margin-bottom: 6px;
	border: 1px solid #D7D7D7;
	margin: -11px -11px 15px -11px;
}

div.issue.tooltip {
	padding: 6px;
	margin: 0 0 6px 0;
}

div.contact.details, div.deal.details {
	padding: 15px !important;
	margin: -11px -11px 6px;
}

#sidebar h3 {color: #222;}

#footer { 
overflow: hidden;
border-top: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
box-shadow: inset 0 -1px 0 white;
background-color: #d4d4d4;}

/* Headers */
h2, h3, .wiki h1, .wiki h2, .wiki h3 {border-bottom: 0px;}
.wiki.wiki-page > h2 { border-bottom: 1px solid #CCC;	padding-bottom: 6px;}

/* Menu */
#main-menu li a { color:#483500; font-weight: bold;}
#main-menu li a:hover { color:#e09904; }
/*#main-menu li a.selected, #main-menu li a.selected:hover { background-color:#EEEEEE; }*/
#main-menu ul { margin-top: 7px; padding-left: 15px;}

/* Tables */

table.list tbody td, table.list tbody tr:hover td { border: solid 1px #d7d7d7; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #d7d7d7;
}

/*Quick search*/
#quick-search {}

/* Grid styles by priorities */
table.list td {padding: 5px;}
table.list input[type="checkbox"] {margin-top: 6px;}

table.list tbody tr:hover {background-color: #EFF5F8;}
table.list tr.issue a { color: #666; }
/*tr.odd {background-color: transparent;}
tr.even {background-color: transparent;}
table.list th {background-color: transparent;}*/

tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }

/* Buttons */
/*input[type="button"], input[type="submit"], input[type="reset"] { background-color: #f2f2f2; color: #222222; border: 1px outset #cccccc; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }
*/
/* Fields */
input[type="text"], input[type="password"], textarea, select { padding: 2px; border: 1px solid #d7d7d7; }
input[type="text"], input[type="password"] { padding: 3px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #888866; }
option { border-bottom: 1px dotted #d7d7d7; }

/* Forum */

.controller-messages.action-show .message.reply {
	padding: 0px 10px;
	margin: -1px;
	background: white;
	border: 1px solid #D9D9D9;
}

.controller-messages.action-show .message {
	background: #EAF7FF;
	padding: 0px 15px 10px;
	border: 1px solid silver;
	margin: -11px -11px 15px -11px;
}

.controller-messages.action-show .message .contextual {
	margin-top: 10px;
}

.controller-boards p.breadcrumb {
	position: relative;
	background: white;
	border: 0px solid;
	padding: 9px 13px 10px;
	margin: -5px -10px 1px -10px;
	background-position-x: 12px !important;
	background-position-y: 9px !important;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	position: relative;
	border-bottom: 1px solid #AECCD7;
}

#add-news, #add-message, #add-document {
	background-color: white;
	position: relative;
	border-bottom: 1px solid #AECCD7;
	margin: -5px -10px 1px -10px;
	padding: 5px 10px 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;

}

/* Misc */

#quick-search #q {   
  	width:380px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	outline: none;
	padding: 3px 10px !important;
	border: 1px solid #C3C3C3;
	margin-top:15px;
}



img.gravatar {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

.wiki img {
	max-width: 100%;
}  

.wiki table img {
	width: 100%;
}  

div.wiki pre, .wiki pre {
	padding: 6px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
.controller-wiki div#content > div.contextual {
	margin-top: 3px;
}

div#content > div.wiki {
	padding-top: 15px;
}

ul.projects.root {
}

div.journal .details {
	border: 1px solid white;
}

div.journal .details:hover {
	background: #FFD;
	border: 1px solid silver !important;
}


#context-menu, #context-menu ul li ul {
	-webkit-box-shadow: 0 0 3px #CCC;
	-moz-box-shadow: 0 0 3px #CCC;
	box-shadow: 0 0 3px #CCC;
}

#context-menu li:hover { border:1px solid #eee !important; background-color:#eee; }

#context-menu ul {
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD !important;
	border-right: 1px solid #DDD !important;
}

div.tooltip:hover span.tip {
	border: 1px solid #D9D9D9;
	zoom: 1;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

table.progress td.closed {
	background: #AECCD7 none repeat scroll 0%;
}

table.progress td.done {
	background: #EAF2F5 none repeat scroll 0%;
}

#history div.journal {
	border-top: 1px solid #DDD;
}

/* Modal form*/

div.modal h3.title {
	background: transparent;
	color: inherit;
}

div.modal {
	border-radius: 8px;
	border: 1px solid #CCC;
	padding: 30px 42px;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}

#modalbg {
	background: white;
	opacity: 0.75;
}

/* Login form */
body.action-login #content, body.action-login #main.nosidebar #content{
	background: inherit;
	border: 0px;
	box-shadow: none;
}

body.action-login #login-form table {
	padding: 3em;
	background: white;
	-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 3px #CCC;
	-moz-box-shadow: 0 0 3px #CCC;
	box-shadow: 0 0 3px #CCC;
	border: 1px solid #D7D7D7;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#login-form input#username, #login-form input#password {
	outline: none;
	margin: 0px;
	border: 1px solid #DDD;
	padding: 6px;
	font-size: 140%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.controller-account.action-login div.flash, div.wiki div.flash {
	-webkit-box-shadow: 0 0 3px #CCC;
	-moz-box-shadow: 0 0 3px #CCC;
	box-shadow: 0 0 3px #CCC;
	border: 1px solid #D7D7D7 !important;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 5px;
}

#content .tabs ul li a {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
}

#sidebar a.selected {
	background-color: transparent;
	color: gray;
	font-weight: bold;
}

/*Contacts*/

div.filters .live_search {
	margin-left: 11px !important;
}

input.live_search_field {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
	outline: none;
	padding: 3px 10px !important;
	border: 1px solid #C3C3C3;
}

.live_search input.live_search_field, label#search_overlabel {
	font-size: 12px !important;
}

label#search_overlabel {
	padding-left: 12px !important;
	margin-top: -3px !important;
/*	background: url(../images/search.png) no-repeat 100% 45%;*/
	padding-right: 28px;
}

label#search_overlabel {	top: 11px !important;}

table.contacts.index tbody tr:hover  {background-color: #EFF5F8 !important;}
table.contacts.index tbody tr.context-menu-selection:hover  {background-color: #507AAA !important;}

h2 span.tag {
	letter-spacing: 0px;
	top: -4px;
	position: relative;
	
}

h2 span.tag a {
	margin-bottom: -1px;
}


div.filters .live_search {
	letter-spacing: 0px;
}

label#search_overlabel {
	margin-top: -4px;
}

.live_search input.live_search_field {
	margin-top: -6px;
}

span.tag a, span.deal-status {
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	font-size: 9px !important;
	line-height: 1 !important;
	margin: 2px 0px 2px 0px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	position: relative;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	padding: 4px 6px 4px !important;
	background: black url(../images/dark-overlay.png) repeat-x scroll 0 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/;
}

span.tag a:hover {
	text-shadow: none;
}

span.deal-status a:hover {
	color: black;
	text-shadow: none;
}


body.controller-contacts #content, 
body.controller-notes #content,
body.controller-contacts_tasks #content,
body.controller-contacts_duplicates #content,
body.controller-sale_funel #content,
body.controller-deals #content {
  margin-right: 340px;
}

body.controller-contacts #sidebar, 
body.controller-notes #sidebar,
body.controller-contacts_tasks #sidebar,
body.controller-contacts_duplicates #sidebar,
body.controller-sale_funel #sidebar,
body.controller-deals #sidebar {
  width: 300px !important;
}

/*Invoices*/

table.invoice-lines tbody tr.line-data:hover { background-color:#EFF5F8 !important; }

table.invoice-lines th {
	border: 0px !important;
}

span.invoice-status.draft {background-color: #AAA !important;}
span.invoice-status.sent {background-color: #3F8AF7 !important;}
span.invoice-status.paid {background-color: green !important;}

/*******************/
/* 		STORE			
/*******************/

div#main-menu li a.products {
	background: #F4786A !important;
	text-shadow: none;
}

div#main-menu li a.products.selected {
	background-color: #E5E3DE !important;
	color: #222; 
}

a.buy-button.blue {
	background: #4C728A !important;
	background-image: linear-gradient(bottom, #4C728A 0%, #749BB4 100%) !important;
	background-image: -o-linear-gradient(bottom, #4C728A 0%, #749BB4 100%) !important;
	background-image: -moz-linear-gradient(bottom, #4C728A 0%, #749BB4 100%) !important;
	background-image: -webkit-linear-gradient(bottom, #4C728A 0%, #749BB4 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#749BB4', endColorstr='#4C728A') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#749BB4', endColorstr='#4C728A')" !important;
}

#picture {
	width: 446px !important;
	top: 7px;
}

#title h2, #buttons, #title h1  {
	min-width: 550px !important;
}

#content {
	margin: 0 auto;
	background-image: url("/images/osbbg.png");
	background-repeat: repeat;
	background-position-y: -100px;
	
	z-index: 2;
}

.register{
	color:#88aa00!important;
}

.register:hover{
	color:#9fc701!important;
}