<%= render :partial => 'queries/query_form' %>

<div class="tabs hide-when-print">
<% query_params = request.query_parameters %>
<ul>
    <li><%= link_to(l(:label_details), _time_entries_path(@project, nil, :params => query_params),
                                       :class => (action_name == 'index' ? 'selected' : nil)) %></li>
    <li><%= link_to(l(:label_report), _report_time_entries_path(@project, nil, :params => query_params),
                                       :class => (action_name == 'report' ? 'selected' : nil)) %></li>
</ul>
</div>
