<%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name %>

<div id="settings" class="plugin plugin-<%= @plugin.id %>">
    <div class="box tabular settings">
      <%= render :partial => @partial, :locals => {:settings => @settings}%>
    </div>
    <%= submit_tag l(:button_apply) %>
</div>
