h1 { font-family: Verdana, sans-serif; font-size: 14px; text-align: center; color: #444; }
body { font-family: Verdana, sans-serif; font-size: 12px; color: #444; }
pre, code {font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace; }
table th { padding-top: 1em; }
table td { vertical-align: top; background-color: #f5f5f5; height: 2em; vertical-align: middle;}
table td code { font-size: 1.2em; }
table td h1 { font-size: 1.8em; text-align: left; }
table td h2 { font-size: 1.4em; text-align: left; }
table td h3 { font-size: 1.2em; text-align: left; }

table.sample { border-collapse: collapse; border-spacing: 0; margin: 4px; }
table.sample th, table.sample td { border: solid 1px #bbb; padding: 4px; height: 1em; }

a, a:link, a:visited{ color: #169; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}

.syntaxhl .mi { color: #0000DD; font-weight: bold }
.syntaxhl .nf { color: #0066BB; font-weight: bold }
.syntaxhl .k { color: #008800; font-weight: bold }
.syntaxhl .nb { color: #007020 }
.syntaxhl .s1 { background-color: #fff0f0 }

span.more_info { font-weight: normal; }
