<div class="document-item document-<%= document.id %>">
  <h4 class="title"><%= link_to document.title, document_path(document) %></h4>
  <div class="updated_on"><em><%= format_time(document.updated_on) %></em></div>

  <div class="wiki description">
    <%= textilizable(truncate_lines(document.description), :object => document) %>
  </div>
</div>