  <% if @users_by_role.any? %>
  <div class="members box">
    <h3 class="icon icon-group"><%=l(:label_member_plural)%></h3>
    <% @users_by_role.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ").html_safe %></p>
    <% end %>
  </div>
  <% end %>
