<div id="neuroLexIdsContainer">

<% if neuroLexIds!=nil and neuroLexIds!='' %>
	<p class="lead">NeuroLex Ids: Cells 
		<%= getBadgeForNeuroLexIds(@project, 'NeuroLex Ids: Cells', '', '', '', 'label label-success') %>
	</p>
<% end %>


</div>