<div id="neuroLexIdsContainer">

<% if neuroLexIds!=nil and neuroLexIds!='' %>
	<% neuroLexBadge = getBadgeForNeuroLexIds(@project, 'NeuroLex Ids: Cells', '', '', '', 'label label-success') %>
	<% if neuroLexBadge != nil and neuroLexBadge != '' %>
		<p style="display: inline;">NeuroLex IDs used in this project:
			<%= neuroLexBadge %>
		</p>
	<% end %>
<% end %>

</div>
