<div id="tagsContainer">
    <% if !tags.blank? %>
	<span class="lead">Tags:
	    <%= getBadgeForTags(@project, 'Tags', '', '', '', 'label label-success',(roles.include? 'Developer' or roles.include? 'Manager' or User.current.admin?)) %>
	</p>
    <% end %>
    
    <% if roles.include? 'Developer' or roles.include? 'Manager' or User.current.admin? %>
	<%= label_tag 'omv_title', 'Add a tag', :class => "control-label" %>
	<div class="controls">
	    <%= text_field_tag 'new_tag', '', :size => 40, :class =>'input-medium', :id=>'new_tag' %>
	</div>	
	<a href="#" id="add_new_tag"><icon class="icon-plus-sign"/></a>
	<% availableTags = getAvailableTags() %>
	<% if availableTags != '' %>
	    <%= javascript_tag 'var availableTags = ' + availableTags.to_s + '; $( "#new_tag" ).autocomplete({source: availableTags, minLength: 0});' %>
	<% end %>
    <% end %>

</div>
