<div class="explore-view view">
	<p class="lead">Explore Open Source Brain</p>
	<!-- This begins the vertical tab on the left-->
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs"> 
			<li class="active"><a href="#cells" id="cellsLink" data-toggle="tab">Cells and Networks</a></li>
            <li><a href="#technology" id="technologyLink" data-toggle="tab">Technology</a></li>
            <li><a href="#groups" id="groupsLink" data-toggle="tab">Research Groups</a></li>
            <li><a href="#people" id="peopleLink" data-toggle="tab">People</a></li>
            <li><a href="#informationOSB" id="informationOSBLink" data-toggle="tab">Information on OSB</a></li>
            <li><a href="#announceOSB" id="announceOSBLink" data-toggle="tab">OSB Announcements</a></li>
            <li><a href="#discussOSB" id="discussOSBLink" data-toggle="tab">OSB Discussions</a></li>
		</ul>
		<!-- This begins the cells and network section -->
		<div class="tab-content">
			<div class="tab-pane active" id="cells">
				<div style="text-align:center;">
					<icon class="icon-spinner icon-spin pagination-centered" style="font-size:70pt!important;color: #37abc8;margin: 0 auto;margin-top: 50px;"></icon>
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>
        	</div>
        	
	        <!-- This begins the technology section -->
	        <div class="tab-pane" id="technology">
				<div style="text-align:center;">
					<icon class="icon-spinner icon-spin pagination-centered" style="font-size:70pt!important;color: #37abc8;margin: 0 auto;margin-top: 50px;"></icon>
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>	    		
	        </div>
	        <!-- This begins the research groups section -->
	        <div class="tab-pane" id="groups">
	        	<div style="text-align:center;">
					<icon class="icon-spinner icon-spin pagination-centered" style="font-size:70pt!important;color: #37abc8;margin: 0 auto;margin-top: 50px;"></icon>
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>   		
	        </div>
			<!-- This begins the people section -->
	        <div class="tab-pane" id="people">
	        	<div style="text-align:center;">
					<icon class="icon-spinner icon-spin pagination-centered" style="font-size:70pt!important;color: #37abc8;margin: 0 auto;margin-top: 50px;"></icon>
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>	    		
	        </div>
	        <!-- This begins the information on osb section -->
	        <div class="tab-pane" id="informationOSB" class="span9">
        		<div style="text-align:center;">
					<icon class="icon-spinner icon-spin pagination-centered" style="font-size:70pt!important;color: #37abc8;margin: 0 auto;margin-top: 50px;"></icon>
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>    
	        </div>
	        <!-- This begins the osb announce -->
	        <div class="tab-pane" id="announceOSB" class="span9" style="height: 850px">
    		    <iframe id="forum_embed"
				 src="javascript:void(0)"
				 scrolling="no"
				 frameborder="0"
				 width="900"
				 height="700">
				</iframe>
				
				<script type="text/javascript">
				 document.getElementById("forum_embed").src =
				  "https://groups.google.com/forum/embed/?place=forum/osb-announce" +
				  "&showsearch=true&showpopout=true&parenturl=" +
				  encodeURIComponent(window.location.href);
				</script>
	        </div>
	        <!-- This begins the osb announce -->
	        <div class="tab-pane" id="discussOSB" class="span9" style="height: 850px">
    		    <iframe id="forum_embed_2"
				 src="javascript:void(0)"
				 scrolling="no"
				 frameborder="0"
				 width="900"
				 height="700">
				</iframe>
				
				<script type="text/javascript">
				 document.getElementById("forum_embed_2").src =
				  "https://groups.google.com/forum/embed/?place=forum/osb-discuss" +
				  "&showsearch=true&showpopout=true&parenturl=" +
				  encodeURIComponent(window.location.href);
				</script>
	        </div>
		</div>
	</div> 
</div>

<script>

jQuery(function()
{
	var selectedTab = "cells";
	var tabList = ['cells', 'technology', 'groups', 'people', 'informationOSB']
	var subTabCellsList =['graph', 'listcells', 'gallery']
	
	var a = location.href.split("#");
	if ( a.length > 1 && tabList.indexOf(a[1]) > -1){
		if (subTabCellsList.indexOf(a[1]) > -1){
			selectedTab = "cells";
		}
		else{
			selectedTab = a[1];
		}	
	}
	
	$("#"+selectedTab+"Link").trigger("click");
	
	$.ajax({
	    url: "/projects/"+selectedTab,
	    cache: false,
	    success: function(html){
	      $("#"+selectedTab).html(html);
	      
	      
	      for (var i=0; i < tabList.length; i++) {
			if (tabList[i] != selectedTab){
		      loadTab(tabList[i]);
			}	
		  };	
	      
	    }
	});
	
	function loadTab(tabName){
	  $.ajax({
        url: "/projects/"+tabName,
        cache: false,
        success: function(html){
           $("#"+tabName).html(html);
        }
      });
	}	
})
</script>

<%= javascript_tag('jQuery("#main").addClass("minwidth");') %>
<%= javascript_include_tag('d3.v3.js') %>