<div class="explore-view view">
	<p class="lead">Explore Open Source Brain</p>
	<!-- This begins the vertical tab on the left-->
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<% if !User.current.logged? %>
			<li class="active"><a href="#welcomeMainContainer" id="welcomeMainContainerLink" data-toggle="tab">Sample Projects</a></li>
			<li><a href="#cells" id="cellsLink" data-toggle="tab">Cells and Networks</a></li>
			<% else %>
			<li class="active"><a href="#cells" id="cellsLink" data-toggle="tab">Cells and Networks</a></li>
			<% end %>
            <li><a href="#technology" id="technologyLink" data-toggle="tab">Technology</a></li>
            <li><a href="#groups" id="groupsLink" data-toggle="tab">Research Groups</a></li>
            <li><a href="#people" id="peopleLink" data-toggle="tab">People</a></li>
            <!-- <li><a href="#informationOSB" id="informationOSBLink" data-toggle="tab">Information on OSB</a></li>-->
            <li><a href="#announceOSB" id="announceOSBLink" data-toggle="tab">OSB Announcements</a></li>
            <li><a href="#discussOSB" id="discussOSBLink" data-toggle="tab">OSB Discussions</a></li> 
		</ul>
		
		<div class="tab-content">
			
			<!-- This begins the cells and network section -->
			<% if !User.current.logged? %>
			<div class="tab-pane active" id="welcomeMainContainer">
				<div id="welcomeMainContainerLoadDialog" style="text-align:center;">
					<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
					<br/>
					<br/>
					<p>
					Please be patient, the OSB visualiser dashboard is being generated for you.
					</p>
				</div>
			</div>
			<% end %>
				
			<!-- This begins the cells and network section -->
			<div class="tab-pane <% if User.current.logged? %>active<% end %>" id="cells">
			
				<div class="tabbable">
					<div class="row pagination-centered">
						<div id="view-tab" class="btn-group" data-toggle="buttons-radio">
				  			<button class="btn btn-large active" href="#cells_graph" id="cells_graphLink" data-toggle="tab"><icon class="icon-circle-blank"></icon> Tree view</button>
				  			<button class="btn btn-large" href="#cells_list" id="cells_listLink" data-toggle="tab"><icon class="icon-th-list"></icon> List view</button>
				  			<button class="btn btn-large" href="#cells_gallery" id="cells_galleryLink" data-toggle="tab"><icon class="icon-th-large"></icon> Gallery view</button>
				  			<button class="btn btn-large" href="#cells_tags" id="cells_tagsLink" data-toggle="tab"><icon class="icon-cloud"></icon> Tags view</button>
						</div>
						<br/><br/><br/>
					</div>
					<!-- This begins the graph or list section -->
					<div class="tab-content" id="cells">

					    <div class="tab-pane active" id="cells_graph">
					    	<div style="text-align:center;">
								<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
								<br/>
								<br/>
								<p>
								Please be patient, the information is being retrieved from the OSB database.
								</p>
							</div>	
					    </div>

					    <div class="tab-pane row-fluid" id="cells_list">
					    	<div style="text-align:center;">
								<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
								<br/>
								<br/>
								<p>
								Please be patient, the information is being retrieved from the OSB database.
								</p>
							</div>
						</div>
						
						<div class="tab-pane row-fluid" id="cells_gallery">
							<div style="text-align:center;">
								<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
								<br/>
								<br/>
								<p>
								Please be patient, the information is being retrieved from the OSB database.
								</p>
							</div>
						</div>	
						
						<div class="tab-pane row-fluid" id="cells_tags" style="text-align:center;">
							<div style="text-align:center;">
								<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
								<br/>
								<br/>
								<p>
								Please be patient, the information is being retrieved from the OSB database.
								</p>
							</div>
						</div>		    		
					</div>
				</div>
        	</div>
        	
	        <!-- This begins the technology section -->
	        <div class="tab-pane" id="technology">
				<div style="text-align:center;">
					<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>	    		
	        </div>
	        
	        <!-- This begins the research groups section -->
	        <div class="tab-pane" id="groups">
	        	<div style="text-align:center;">
					<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>  		
	        </div>
			<!-- This begins the people section -->
	        <div class="tab-pane" id="people">
	        	<div style="text-align:center;">
					<img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
					<br/>
					<br/>
					<p>
					Please be patient, the information is being retrieved from the OSB database.
					</p>
				</div>	    		
	        </div>
	        <!-- This begins the information on osb section -->
	        <!-- <div class="tab-pane" id="informationOSB" class="span9">
        		    
	        </div> -->
	        <!-- This begins the osb announce -->
	        <div class="tab-pane" id="announceOSB" class="span9" style="height: 850px">
    		    <iframe id="forum_embed"
				 src="javascript:void(0)"
				 scrolling="no"
				 frameborder="0"
				 width="100%"
				 height="700">
				</iframe>
				
				<script type="text/javascript">
				 document.getElementById("forum_embed").src =
				  "https://groups.google.com/forum/embed/?place=forum/osb-announce" +
				  "&showsearch=true&showpopout=true&parenturl=" +
				  encodeURIComponent(window.location.href);
				</script>
	        </div>
	        <!-- This begins the osb announce -->
	        <div class="tab-pane" id="discussOSB" class="span9" style="height: 850px">
    		    <iframe id="forum_embed_2"
				 src="javascript:void(0)"
				 scrolling="no"
				 frameborder="0"
				 width="100%"
				 height="700">
				</iframe>
				
				<script type="text/javascript">
				 document.getElementById("forum_embed_2").src =
				  "https://groups.google.com/forum/embed/?place=forum/osb-discuss" +
				  "&showsearch=true&showpopout=true&parenturl=" +
				  encodeURIComponent(window.location.href);
				</script>
	        </div>
		</div>
	</div> 
</div>

<script>
jQuery(function()
{
	var selectedTab = "cells_graph";
	var tabList = ['cells_graph', 'cells_list', 'cells_gallery', 'cells_tags', 'technology', 'groups', 'people', 'informationOSB']
	if (redmineLogin == ""){
		selectedTab = "welcomeMainContainer";
		tabList.splice(0,0,selectedTab);
	}	
	
	
	// var subTabCellsList =['cells_graph', 'cells_list', 'cells_gallery', 'cells_tags']
	
	//Read if a new tab is pass as a parameter in the url 	
	var a = location.href.split("#");
	if ( a.length > 1 && tabList.indexOf(a[1]) > -1){selectedTab = a[1];}
	
	//Display tab selected by url 	
	$("#"+selectedTab+"Link").trigger("click");

	//If a tab is selected we load it immediately 
	function swithTabsPriority(tabId){
		tabName = tabId.replace("Link","");
		index = tabList.indexOf(tabName);
		if (index != -1){
			tabList.splice(index, 1);
			tabList.splice(0,0,tabName);
		}
	}
	$(".nav-tabs a, #view-tab button").click(function(){
		if(history.pushState) {history.pushState(null, null, $(this).attr('href'));}
		swithTabsPriority($(this).attr('id'));});
			 
	//Load tabs sequentially 	
	loadTab(selectedTab);
	function loadTab(tabName){
		if (tabName == "welcomeMainContainer"){
			callGeppetto("", addDashboardFromProjectsPage, true);
			
	        index = tabList.indexOf(tabName);
	        tabList.splice(index, 1);
	        if (tabList.length > 0){
	      	 	loadTab(tabList[0]);
	        }
		}
		else{
			$.ajax({
		        url: "/projects/"+tabName,
		        async: true,
		        success: function(html){
		           $("#"+tabName).html(html);
		           index = tabList.indexOf(tabName);
		           tabList.splice(index, 1);
		           if (tabList.length > 0){
		           	loadTab(tabList[0]);
		           }	
		        },
		        error: function( xhr, textStatus, errorThrown ) {
			      console.log("Error loading tab: " + textStatus);
			    }
		      });
		}
	}	
})
</script>

<%= javascript_tag('jQuery("#main").addClass("minwidth");') %>
<%= javascript_include_tag('d3.v3.js') %>
