        		<div>
        			<a class="capitalize" href="about">About OSB</a>
        			<p><small>Find out what motivates us to develop OpenSourceBrain.org.</small></p>
                    <br/>
        		</div>
        		<div>
        			<a class="capitalize" href="projects/osb/wiki/Faq">Frequently Asked Questions</a>
        			<p><small>These FAQs are designed to provide a better understanding of the Open Source Brain initiative.</small></p>

                    <br/>
        		</div>
        		<div>
        			<a class="capitalize" href="projects/osb/wiki/Meetings">Meetings</a>
        			<p><small>We regularly hold open meetings to further the development of OSB. </small></p>
	        			<div id="innerMeetingsContainer">
		        			<div>
		        				<small>Latest meetings</small>
		        				<ul>
		        					<li><small><a href="projects/osb/wiki/OSB2014">OSB2014</a>: the main OSB meeting in Sardinia in May 2014, focusing on cortical modelling</small></li>
		        				</ul>
		        			</div>
		        			<div>
		        				<small>Past meetings</small>
		        				<ul>
		        					<li><small><a href="projects/osb/wiki/Hackathon2013">Hackathon2013</a>: the inaugural OSB Hactathon in London in November 2013</small></li>
		        					<li><small><a href="projects/osb/wiki/Sardinia2013">OSB2013</a>: the OSB kickoff meeting in Sardinia in May 2013, focusing on cerebellar modelling</small></li>
		        				</ul>
		        			</div>
		        		</div>	
                    <br/>  
        		</div>  
        		<div>
        			<a class="capitalize" href="guides">Guides</a>
        			<p><small>Guides are short introductions to various aspects of the functionality of Open Source Brain and related tools.</small></p>
        			<div class="row-fluid">	
	        			<div id="guidesContainer">
	        				<small><%= render_guide_hierarchy(@projects)%></small>
	        			</div>	
        			</div>	
                    <br/>
        		</div>
        		<div>
        			<a class="capitalize" href="themes">Themes</a>
        			<p><small>Themes summarise projects present in the OSB related to specific areas of neuronal modelling, e.g. a particular brain region or a disease state.</small></p>
        			<div class="row-fluid">	
	        			<div id="themesContainer">
	        				<small><%= render_theme_hierarchy(@projects)%></small>
	        			</div>
	        		</div>		
                    <br/>
        		</div>  
        		<div>
        			<a class="capitalize">Get in Contact</a>
        			<p><small>There are many ways to get in contact with the OSB community.</small></p>
                        <div id="innerMeetingsContainer">
		        			<div>
		        				<small>Mail us directly</small>
		        				<ul>
		        					<li><small>Send us a mail on <a href="mailto:info@opensourcebrain.org">info@opensourcebrain.org</a> to contact the OSB team directly.</small></li>
		        				</ul>
		        			</div>
		        			<div>
		        				<small>Join our mailing lists</small>
		        				<ul>
		        					<li><small>Sign up to the <a href="https://groups.google.com/forum/#!forum/osb-announce">OSB Announce mailing list</a> to be kept up to date with major announcements from the OSB Initiative</small></li>
		        					<li><small>Join the <a href="https://groups.google.com/forum/#!forum/osb-discuss">OSB Discuss mailing list</a> for more detailed discussions on the various projects on OSB</small></li>
		        				</ul>
		        			</div>
		        			<div>
		        				<small>Twitter</small>
		        				<ul>
		        					<li><small>Follow us on Twitter: <a href="https://twitter.com/OSBTeam">@OSBTeam</a></small></li>
		        				</ul>
		        			</div>
		        		</div>	
                    <br/>
        		</div>
