<% content_for :header_tags do %>
    <script src="/javascripts/project.js"></script>
<% end %>
<%= render "projects/header" %>
<div class="project-main">
    <input type="text" id="modelFilter" placeholder="Search for model file…">
    <div class="scrollbox">
        <ul id="explorermenu">
            <!-- populated by project.js -->
        </ul>
    </div>
</div>
