<% content_for :header_tags do %>
    <script src="/javascripts/project.js"></script>
<% end %>
<%= render "projects/header" %>
<div class="project-main">
    <ul id="explorermenu">
        <!-- populated by project.js -->
    </ul>
</div>
