<div class="pull-right lead sidetitle">New project <i class=" icon-asterisk"></i></div>
<%= labelled_form_for @project do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<div class="view control-group">
	<div class="nolabelcontrols">
		<%= submit_tag l(:button_create), :class=>"btn btn-success btn-large"%>
	</div>
</div>
<%= javascript_tag "$('#project_name').focus();" %>
<% end %>
