<div class="pull-right sidetitle">New project <i class="icon-asterisk"></i></div>
<%= form_for @project, :html => { class: 'form-horizontal new-project' } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f, :hiddenNonRequiredFields => true } %>
<% end %> 
