<h2><%=l(:label_issue_category_new)%></h2>

<%= labelled_form_for @category, :as => :issue_category,
                      :url => project_issue_categories_path(@project) do |f| %>
<%= render :partial => 'issue_categories/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
