// Invoices

table.invoice-lines {
  tbody tr.line-data:hover {
    background-color: #EFF5F8 !important;
  }
  th {
    border: 0 !important;
  }
}

span.invoice-status {
  &.draft {
    background-color: #AAA !important;
  }
  &.sent {
    background-color: #3F8AF7 !important;
  }
  &.paid {
    background-color: green !important;
  }
}