#projects-index {

  ul.projects {

    // sub projects
    ul.projects {
      border-left: 3px solid #E0E0E0;
    }

    &.root {
      padding: 10px;
      @media (min-width: 900px) {

        li.root {
          border: 1px solid #DDD;
          border-radius: 4px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
          display: inline-block;
          margin: 0 0 10px;
          padding: 5%;
          vertical-align: top;
          width: 90%;
        }
      }
    }

    a.project {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}

// project description in project list
.projects {
  li {
    .wiki {
      p {
        margin-top: 0;
      }
    }
  }
}
