a.buy-button.blue {
  background: #4C728A linear-gradient(to top, #4c728a 0%, #749bb4 100%) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#749BB4', endColorstr='#4C728A')" !important;
}

#picture {
  width: 446px !important;
  top: 7px;
}

#title h2, #buttons, #title h1 {
  min-width: 550px !important;
}
