$base-font: 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$link-color: #4183C4;
$text-color: #333;
$background-color: white;

$content-padding: 10px 16px;
$negative-margin-on-content: -10px -16px 10px;
