<h2>Status</h2>



<p><b>Note: this table is still in development!</b></p>
<p>These status values are currently based on a manual curation process, scoring the models on the completeness of the translation of the model from the original format to NeuroML (or PyNN). </p>
<p>For simulators, the score represents how well the model translates to the specific simulator from the simulator independent format, NOT the availability of original scripts in that simulator. </p>
<p>The longer term aim is to have these scores generated automatically from tests based on parsing of the NeuroML and comparison to expected model behaviour. </p>


<%= render_status_table(@projects)%>


<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
