
<% if @tag %>
<div class="category-tag-filter"><p><%= l(:label_filtered_by_tag) %>
    <% n = 0 %>
    <% @tag_array.each do |tag| %><%= n >= 1 ? ', ' : '' %><%= tag %><% n += 1 %><% end %>
    <%= link_to("", {:controller => 'categories', :action => 'index', :project_id => @project }, :class => "icon icon-del") %>
</p></div>
<% end %>
