<!doctype html
<html lang="en">
<head>
  <title>List of languages supported by Redmine code highlighter</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "wiki_syntax.css" %>
</head>

<body>
  <h1>List of languages supported by Redmine code highlighter</h1>

  <table>
    <tr>
      <th>Language</th>
      <th>Description</th>
    </tr>
    <% @available_lexers.each do |lexer| %>
      <tr>
        <td><%= lexer.tag %></td>
        <td>
          <%= lexer.desc %>
          <%= " [aliases: #{lexer.aliases.uniq.join(', ')}]" if lexer.aliases.any? %>
        </td>
      </tr>
    <% end %>
  </table>
</body>
</html>
