<p><%= l(:notice_account_activated) %></p>
<p>
	<b><%= l(:label_login) %>:</b> <%= link_to h(@login_url), @login_url %>
</p>
<br/>

<p>
<b>Getting Started</b>
<a href="http://opensourcebrain.org/docs#Getting_Started">http://opensourcebrain.org/docs#Getting_Started</a>
</p>

<p>
<b>Contribute page</b>
We are happy to hear from anyone interested in helping out with this initiative. We are particularly keen to get modellers or software developers in computational neuroscience involved.

There is a central list for projects in OSB (and related NeuroML tools) which require help from volunteers. See <a href="http://opensourcebrain.org/docs#Contribute_To_OSB">here</a>.
</p>

<p>
<b>Send feedback!</b>
If you want to let us know about your thoughts or questions please <a href="mailto:info@opensourcebrain.org" target="_top">send us a mail</a>. You can also report an issue or request a feature at our <a href="https://github.com/OpenSourceBrain/redmine">GitHub repository</a>.

Remember you can also follow us on Twitter at <a href="https://twitter.com/OSBTeam">@OSBTeam</a>.
</p>
