<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => h(@journal.user)) %>

<ul>
<% details_to_strings(@journal.details).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<%= textilizable(@journal, :notes) %>
<hr />
<%= render :partial => "issue.html.erb", :locals => { :issue => @issue, :issue_url => @issue_url } %>
