<html>
  <style>
  .message-box{
    height: 100px;
    width: 80%;
    margin: auto;
  }
  *{
    font-family: Verdana;
  }
  .message_form{
    text-align: center;
    margin: auto;
  }
  header{
    border: 1px solid black;
    position: float;
    width: 100%;
    height: 70px;
    background-color:#628DB6;
    text-align: left;
    margin-bottom: 10px;
    color: white;
    font-size: 1.5em;
  }
  h1{
    font-size: 1.0em;
    text-align: center;
  }
  footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border: 1px solid black;
    position: float;
    width: 100%;
    height: 30px;
    background-color:#628DB6;
    text-align: left;
    color: white;
    font-size: 1.5em;
    padding:5px;
  }
  </style>
  <head>
    <title>Userstory</title>
  </head>
  <body>
    <header>
      <p><b>Redmine</b><p>
    </header>
    <h1> User Story: </h1>
    <p>As a <%= user %> I want to do/have <%= want %> so that I can <%= action %>.</p>
  </body>
</html>
