<html>
  <style>
  .message-box{
	 height: 100px;
	 width: 80%;
	 margin: auto;
  }
  *{
    font-family: Verdana;
  }
  .message_form{
	 text-align: center;
	 margin: auto;
  }
  header{
	  border: 1px solid black;
    position: float;
    width: 100%;
    height: 70px;
	  background-color:#628DB6;
    text-align: left;
    margin-bottom: 10px;
    color: white;
    font-size: 1.5em;
  }
  h1{
    font-size: 1.0em;
    text-align: center;
  }
  footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border: 1px solid black;
    position: float;
    width: 100%;
    height: 30px;
    background-color:#628DB6;
    text-align: left;
    color: white;
    font-size: 1.5em;
    padding:5px;
  }
  </style>
  <head>
    <title>Userstory</title>
  </head>
  <body>
  <header>
    <p><b>Redmine</b><p>
  </header>
  <h1>User Story</h1>
    <form method="post" class="message_form" action="/US/">
      <span> As a <input type="text" name="user"> I would like to do/have <input type="text" name="want"> so I can achieve <input type ="text" name="action"> . </span>
      <br/><br/>
      <footer>
        <input type ="submit" value="Create">
      </footer>
    </form>
  </body>
</html>
