<%= link_to 'root', :action => 'browse', :id => @project, :path => '', :rev => @rev %>
<% link_path = ''
path.split('/').each do |dir| 
    link_path << '/' unless link_path.empty?
    link_path << "#{dir}" 
    %>
    / <%= link_to h(dir), :action => 'browse', :id => @project, :path => link_path, :rev => @rev %>
<% end %>
<%= "@ #{revision}" if revision %>