<h1>Editing query</h1>

<%= start_form_tag :action => 'edit', :id => @query %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= debug @query.statement %>