<h2>Good Bye</h2>

<p class="icon icon-example-works"><%= l(:text_say_goodbye) %></p>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "/plugin_assets/sample_plugin/stylesheets/example.css", :media => "screen" %>
<% end %>
