<h2>Hello</h2>

<p class="icon icon-example-works"><%= l(:text_say_hello) %></p>

<p><label>Example setting</label>: <%= @value %></p>

<%= link_to('Good bye', :action => 'say_goodbye', :id => @project) if User.current.allowed_to?(:example_say_goodbye, @project) %>

<% content_for :sidebar do %>
  <p>Adding content to the sidebar...</p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'example', :plugin => 'sample_plugin', :media => "screen" %>
<% end %>
