<div class="row pull-right lead sidetitle ">Lost password</div>

<%= form_tag(lost_password_path) do %>
  <div class="box tabular">
    <p>
      <label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
      <%= text_field_tag 'mail', nil, :size => 40 %>
      <%= submit_tag l(:button_submit), :class=>"btn btn-success" %>
    </p>
  </div>
<% end %>
