<h2><%= l(:label_query) %></h2>

<%= form_tag(query_path(@query), :method => :put, :id => "query-form") do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <%= submit_tag l(:button_save) %>
<% end %>
