<% selected_tab = params[:tab] ? params[:tab].to_s : tabs.first[:name] %>


<ul class="nav nav-tabs"> 
  <% tabs.each do |tab| -%>
    <li><%= link_to l(tab[:label]), { :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class =>  (tab[:name] != selected_tab ? 'tabli' : 'tabli selected'),
                                    :href => "#tab-content-#{tab[:name]}" %></li>
  <% end -%>
</ul>

<script>
  $(document).ready(displayTabsButtons);
  $(window).resize(displayTabsButtons);
</script>
<div class="tab-content">
  <div class="tabs-buttons" style="display:none;">
    <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
    <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
  </div>
<% tabs.each do |tab| -%>
  <%= content_tag('div', render(:partial => tab[:partial], :locals => {:tab => tab} ),
                       :id => "tab-content-#{tab[:name]}",
                       :class => 'tab-pane') %>
<% end -%>
</div>
