<h2><%=h @status %></h2>

<% if @message.present? %>
	<% if @status!="" %>
		<div id="errorExplanation" class="alert alert-error fade in">
			<button type="button" class="close" data-dismiss="alert">×</button>
	    	<strong>Error</strong> <%=h @message %></a>
	  	</div>
	<% else %>
		<div id="errorExplanation" class="alert alert-info fade in">
			<button type="button" class="close" data-dismiss="alert">×</button>
	    	<strong>Info</strong> <%=h @message %></a>
	  	</div>
	<% end %>
<% end %>
<p><a href="javascript:history.back()"><%= l(:button_back) %></a></p>

<% html_title @status %>
