<h2><%= link_to l(:label_report_plural), project_issues_report_path(@project) %> »</h2>

<h3><%=@report_title%></h3>
<%= render :partial => 'details', :locals => { :data => @data, :field_name => @field, :rows => @rows } %>
<br />
<%= link_to l(:button_back), project_issues_report_path(@project) %>
