<h2><%= l(:label_member_new) %></h2>

<%= form_for @member, :as => :membership, :url => project_memberships_path(@project), :method => :post do |f| %>
  <%= render :partial => 'new_form' %>
  <p><%= submit_tag l(:button_add), :name => nil %></p>
<% end %>
